*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ================HEADER========================= */

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
}

.head-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-part {
  color: #2e2f42;
}

.logo-links {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}
.logo-links:hover,
.logo-links:focus {
  color: #404bbf;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.address-links {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.address-links:hover,
.address-links:focus {
  color: #404bbf;
}

/* =================TITLE======================== */

.title-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.header-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  font-weight: 700;
  background-color: #2e2f42;
  max-width: 496px;
  margin: 0 auto;
}

.header-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding: 16px 32px;
  min-width: 169px;
}

.header-button:hover,
.header-button:focus {
  background-color: #404bbf;
}

/* ==============ADVANTAGES=========================== */

.hero-section {
  padding: 120px 0;
}

.adv-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adv-list {
  display: flex;
  gap: 24px;
}

.adv-item {
  width: 264px;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ==================TEAM======================= */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.item-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-images {
  background-color: #ffffff;
}

.team-member {
  padding: 32px 0;
}

.team-names {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ==================PORTFOLIO======================= */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-images {
  background-color: #ffffff;
}

.app-container {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

.app-type {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.app-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =================FOOTER======================== */

.footer {
  background-color: #2e2f42;
  margin-top: 120px;
  padding: 100px 0;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.title-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
